body {
  margin: 0;
  padding-top: 160px; 
  background: linear-gradient(to bottom, black , #126196);
  color: #6C757D;
  font-family: Arial, sans-serif;
  padding-left: 10%;
  padding-right: 10%;
}

.list {
  width: 100%; 
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: none;
  padding: 1rem 2rem; 
  z-index: 1000; 
  border-radius: 10px; 
  transition: background-color 0.3s ease;
  color : white;
  font-size: large;
}

h2 {
  color: #01B9F1; 
}

.intro {
  color: rgba(255, 255, 255);
  text-align: center;
  font-size: x-large;
  padding-top: 30px; 
  padding-left: 10%; 
  padding-right: 10%; 
}

ol li {
  text-align: left;
  margin-bottom: 10px;
}

.carousel {
  margin-top: 30px;
}

.title {
  align-items: center;
}

.carousel img {
  width: 100%;
  height: 40vh; 
  object-fit: cover;
}


/* Responsive Styles */
@media (max-width: 700px) {
  body {
    padding-left: 5%; 
    padding-right: 5%; 

  }

  .list {
    padding: 1rem; 
  }

  h2 {
    font-size: 1.5rem;
  }

  .intro {
    font-size: large; 
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 480px) {
  body {
    padding-left: 10px;
    padding-right: 10px; 
  }

  .list {
    padding: 0.5rem;
  }

  h2 {
    font-size: 1.25rem; 
  }

  .intro, ol {
    font-size: medium;
    padding-top: 10px; 
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.button {
  background-color: #01B9F1; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: large;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin: 0 10px; /* Space between the buttons */
}

.button:hover {
  background-color: #009dcf; /* Darker shade on hover */
  transform: scale(1.05); /* Slightly larger on hover */
}