.navbar-title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: white;
  width: 100%; 
  display: flex;
  justify-content: center; 
}

@media (max-width: 768px) {
  .navbar-title {
    font-size: 20px; 
  }
}
